* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  min-height: 100vh;
}

body {
  font-size: 18px;
  color: black;
  background-color: white;
  margin: 0;
  padding: 2em;
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Lucida Grande";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

img {
  max-width: 100%;
}

#root {
  max-width: 45em;
  width: 100%;
}

/* tagline */
h1 + p {
  color: #52B2E4;
  font-size: 1.16em;
  width: 60%;
  margin: 2.25em auto;
}

h2 {
  color: #52B2E4;
  font-weight: normal;
  font-size: 1.33em;
}

h3 {
  font-weight: normal;
  font-size: .77em;
}

pre {
  font-size: 1em;
  color: #7E7E7E;
  border: 1px solid #E5E5E5;
  border-radius: .6em;
  padding: 2em;
  margin: 1em -.2em;
  white-space: pre;
  white-space: pre-wrap;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre span.emphasis {
  color: #6A00C9;
}

a:link.github-link, a:visited.github-link {
  display: inline-block;
  color: white;
  line-height: 1em;
  padding: 1em 3em;
  border-radius: 2em;
  text-indent: 1em;
  text-decoration: none;
  background-color: #6A00C9;
  background-image: url(images/github-logo.svg);
  background-repeat: no-repeat;
  background-size: auto 66%;
  background-position: .5em .5em;
}

a:link.github-link:hover {
  text-decoration: none;
}

hr {
  width: 33%;
  border: none;
  border-top: 1px solid #E5E5E5;
  margin: 2em auto;
}

a:link, a:visited {
  color: #6A00C9;
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  text-decoration: underline;
}

/* REPL frame styles (old) */

.repl-frame {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

@media (max-width: 767px) {
  .repl-frame {
    padding-bottom: 200%;
  }
}

@media (min-width: 1200px) {
  .repl-frame {
    padding-bottom: 50%;
  }
}

.repl-frame iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
  left: 0;
  right: 0;
}
