* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  color: #515151;
  background-color: #fbfbfb;
  margin: 0;
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Lucida Grande";
}

.repl {
  position: relative;
  width: 100%;
  height: 100%;
}

.repl-editor {
  position: absolute;
  top: 0px;
  bottom: 5em;
  width: 50%;
}

.repl-input {
  left: 0;
  border-right: 1px solid darken($gray-lighter, 5%);
}

.repl-output {
  right: 0;
  background: #f9f9f9;
}

.repl-editor .ace_editor {
  font-size: 14px;
  width: 100%;
  height: 100%;
  border-radius: none;
}

.repl-editor .ace_scroller.ace_scroll-left {
  box-shadow: none;
}

.repl-reporter {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: absolute;
  z-index: 4;
  bottom: 0;
  min-height: 5em;
  max-height: 30%;
  overflow: auto;
  width: 50%;
  white-space: pre;
  border-radius: 0;
}
