* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #fbfbfb;
  background-color: #515151;
  padding: 0;
  margin: 0;
}

#root, .repl {
  position: relative;
  width: 100%;
  height: 100%;
}

.repl {
  display: flex;
  flex-direction: column;
}

.repl-editors {
  position: relative;
  flex: 1 1 auto;
}

.repl-editor.ace_editor {
  position: absolute;
  width: 100% !important;
  height: 50% !important;
}

.repl-editor.ace_editor.repl-input {
  top: 0;
}

.repl-editor.ace_editor.repl-output {
  bottom: 0;
}

@media (min-width: 710px) {
  .repl-editor.ace_editor {
    width: 50% !important;
    height: 100% !important;
  }

  .repl-editor.ace_editor.repl-input {
    left: 0;
  }

  .repl-editor.ace_editor.repl-output {
    right: 0;
  }
}

.repl-reporter {
  background-color: #52B2E4;
  min-height: 5em;
  max-height: 30%;
  overflow: auto;
  white-space: pre;
  border-radius: 0;
}
